[Unit]
Description=Relay gpg4win gpg-agent.ssh socket to WSL
Requires=gpg-agent-ssh-relay.socket

[Service]
Type=simple
ExecStart=%h/.local/bin/npiperelay.exe -ep -ei -s -a 'C:/Users/hmorris/AppData/Local/gnupg/S.gpg-agent.ssh'
StandardInput=socket

[Install]
WantedBy=default.target
