[Unit]
Description=Relay gpg4win gpg-agent.ssh socket to WSL
Requires=gpg-agent.ssh-relay.socket

[Service]
Type=simple
ExecStart=%h/.local/bin/npiperelay.exe -ei -s '//./pipe/openssh-ssh-agent'
StandardInput=socket

[Install]
WantedBy=default.target
