[Unit]
Description=Unix socket for relaying gpg4win gpg-agent socket

[Socket]
ListenStream=%t/gnupg/S.gpg-agent
SocketMode=0600
DirectoryMode=0700
Accept=true

[Install]
WantedBy=sockets.target
