[Unit]
Description=Unix socket for relaying gpg4win gpg-agent.ssh socket

[Socket]
ListenStream=%t/gnupg/S.gpg-agent.ssh
SocketMode=0600
DirectoryMode=0700
Accept=true
RemoveOnStop=true

[Install]
WantedBy=sockets.target
