[Unit]
Description=Relay gpg4win gpg-agent socket to WSL
Requires=gpg-agent-relay.socket

[Service]
Type=simple
Environment=LOCALAPPDATA=%t
ExecStartPre=-%h/.local/bin/gpgconf.exe --launch gpg-agent
ExecStart=%h/.local/bin/npiperelay.exe -ep -ei -s -a 'C:/Users/%u/AppData/Local/gnupg/S.gpg-agent'
StandardInput=socket

[Install]
WantedBy=default.target
