[Unit]
Description=Relay gpg4win gpg-agent.ssh socket to WSL
Requires=gpg-agent-ssh-relay.socket

[Service]
Type=simple
ExecStartPre=-%h/.local/bin/gpgconf.exe --launch gpg-agent
ExecStart=%h/.local/bin/npiperelay.exe -ep -ei -s -a 'C:/Users/%u/AppData/Local/gnupg/S.gpg-agent.ssh'
StandardInput=socket

[Install]
WantedBy=default.target
