[Unit]
Description=Unix socket for relaying gpg4win keyboxd socket

[Socket]
ListenStream=%t/gnupg/S.keyboxd
SocketMode=0600
DirectoryMode=0700
Accept=true

[Install]
WantedBy=sockets.target
