[Unit]
Description=Unix socket for relaying gpg4win openssh-ssh-agent socket

[Socket]
ListenStream=%t/openssh_agent
SocketMode=0600
DirectoryMode=0700
Accept=true

[Install]
WantedBy=sockets.target
