## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags
\.netrwhist

# Ignore environment files in the project root directory
/*.env

# Ignore pathogen.vim
/vim/autoload/pathogen.vim
