[Unit]
Description=Socket for SSH agent relay

[Socket]
ListenStream=%t/ssh-agent.sock
SocketMode=0600
DirectoryMode=0700
Accept=true

[Install]
WantedBy=sockets.target
